{% extends 'base.html.twig' %}

{% block title %}Hello CarController!
{% endblock %}

{% block body %}

	<div>


		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">


				<div class="col-3">


					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<a class="navbar-brand" href="{{ path('app_car') }}">Skills4All</a>

						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('app_car') }}">Accueil

								</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('app_car_admin') }}">Administration

								</a>
							</li>


						</ul>
					</div>

				</div>
				<div class="nav-item col-6 ">
					{{ form_start(form,{'attr':{'class': 'd-flex flex-row justify-content-end '}}) }}
					{{ form_row(form.string) }}
					<div class=" dropdown m-2">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:250px">

							{% for item in  form.category %}
								<li class="dropdown-item ">{{ form_row(item,{'attr':{'class': 'float-start m-2'}}) }}</li>

							{% endfor %}
						</ul>
					</div>
					{{ form_row(form.submit) }}
					{{ form_end(form) }}
				</div>


			</div>
		</nav>


		<div class="count mt-4">
			Il y a
			{{ cars.getTotalItemCount }}
			voitures
		</div>
		<table class="table m-4">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Nombre de porte</th>
					<th scope="col">Nombre de siège</th>
					<th scope="col">Prix</th>
					<th scope="col">Category</th>

				</tr>
			</thead>
			<tbody>
				{% for car in cars %}
					<tr>
						<th>{{car.name}}
						</th>
						<td>{{car.nbdoors}}</td>
						<td>{{car.nbseats}}</td>
						<td>{{car.cost}}
							€
						</td>
						<td>{{car.category}}

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>

	<div class="navigation d-flex justify-content-center">
		{{ knp_pagination_render(cars) }}
	</div>
</div>{% endblock %}
