{% extends 'base.html.twig' %}

{% block title %}Hello CarController!
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	{{ form_end(form) }}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Nombre de porte</th>
				<th scope="col">Nombre de siège</th>
				<th scope="col">Prix</th>
				<th scope="col">Category</th>

			</tr>
		</thead>
		<tbody>
			{% for car in cars %}
				<tr>
					<th>{{car.name}}
					</th>
					<td>{{car.nbdoors}}</td>
					<td>{{car.nbseats}}</td>
					<td>{{car.cost}}
						€
					</td>
					<td>{{car.category}}

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>

<div class="navigation">
	{{ knp_pagination_render(cars) }}
</div>{% endblock %}
